*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
  color: white;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
}

.al-c {
  display: flex;
  align-items: center;
}

@media (min-width: 75em) {
  .container-min {
    min-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 75em) {
  .container-max {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.bg-glass {
  height: 100%;
  width: 100%;
  background-color: rgba(24, 24, 27, 0.5);
}

.player__header {
  width: 100%;
  height: 30vh;
  padding: 20px;
  background: linear-gradient(to bottom, #718f97, #2f3c40);
}
.player .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 40em) {
  .player .wrapper {
    flex-direction: row;
    align-items: flex-end;
  }
}
.player__thumbnail {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
@media (min-width: 40em) {
  .player__thumbnail {
    width: 230px;
    height: 230px;
    margin-bottom: 0;
  }
}
.player__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player__info-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .player__info-wrapper {
    align-items: flex-start;
    margin-left: 25px;
  }
}
.player__playlist-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  display: none;
}
@media (min-width: 40em) {
  .player__playlist-name {
    display: inline;
  }
}
.player__name {
  font-size: 25px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 15px;
}
@media (min-width: 40em) {
  .player__name {
    font-size: 45px;
  }
}
@media (min-width: 64em) {
  .player__name {
    font-size: 65px;
    margin-top: -5px;
  }
}
.player__artist {
  font-size: 14px;
  color: #a1a1aa;
  margin-bottom: 5px;
  display: none;
}
@media (min-width: 40em) {
  .player__artist {
    display: inline;
  }
}
.player__artist a {
  color: white;
  text-decoration: none;
}
.player__artist a:hover {
  text-decoration: underline;
}
.player__count-wrapper {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #a1a1aa;
}
.player__body {
  height: 58vh;
  background: linear-gradient(to bottom, #2f3c40 20%, #18181b 60%);
}
.player__footer {
  width: 100%;
  height: 12vh;
  background-color: #18181b;
  border-top: 1px solid rgba(82, 82, 91, 0.2);
  box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.2);
}
.player__footer .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.player__footer .btn-play {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  margin-bottom: 10px;
}
.player__footer .btn-play .fa {
  position: absolute;
  top: 50%;
  left: 50%;
}
.player__footer .btn-play .fa-play {
  transform: translate(-35%, -45%);
}
.player__footer .btn-play .fa-pause {
  transform: translate(-44%, -45%);
}
.player__footer .track {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
@media (min-width: 40em) {
  .player__footer .track {
    width: 60%;
  }
}
.player__footer .track__current-time, .player__footer .track__full-time {
  color: #a1a1aa;
  font-size: 12px;
}
.player__footer .track__bar {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: #3f3f46;
}
.player__footer .track__bar-fill {
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background-color: #fafafa;
}

.playlist {
  text-decoration: none;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
.playlist::-webkit-scrollbar {
  width: 4px;
}
.playlist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 27, 0);
  border-radius: 10px;
}
.playlist::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 10px;
}
@media (min-width: 75em) {
  .playlist {
    padding-right: 20px;
    padding-left: 0;
  }
}
.playlist__song {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 20px;
}
.playlist__song:not(:last-child) {
  margin-bottom: 6px;
}
.playlist__song:hover {
  background-color: rgba(250, 250, 250, 0.1);
}
.playlist__song-active {
  transition: all 0.3s ease;
  background-color: rgba(250, 250, 250, 0.2);
}
.playlist .play-pause .fa {
  font-size: 12px;
}
@media (min-width: 40em) {
  .playlist .play-pause .fa {
    font-size: 14px;
  }
}
.playlist .play-pause .fa-play {
  color: #e4e4e7;
}
.playlist .play-pause .fa-pause {
  color: #a1a1aa;
}
.playlist__song-details {
  font-weight: 400;
  margin-left: 20px;
}
.playlist__song-name {
  font-size: 14px;
}
@media (min-width: 40em) {
  .playlist__song-name {
    font-size: 16px;
  }
}
.playlist__song-artist {
  font-size: 12px;
  display: block;
  color: #a1a1aa;
  margin-top: -2px;
}
@media (min-width: 40em) {
  .playlist__song-artist {
    font-size: 14px;
  }
}
.playlist__song-duration {
  font-size: 12px;
  color: #a1a1aa;
  padding-top: 4px;
  margin-left: auto;
}
@media (min-width: 40em) {
  .playlist__song-duration {
    font-size: 14px;
  }
}