@import "./variables";
@import "./mixins";

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 320px;
    font-family: "Poppins", sans-serif;
    background-color: $gray900;
    color: white;
}

button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
}

.al-c {
    display: flex;
    align-items: center;
}

.container-min {
    @include breakpoint-up(xlarge) {
        min-width: 1200px;
        margin: 0 auto;
    }
}

.container-max {
    @include breakpoint-up(xlarge) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.bg-glass {
    height: 100%;
    width: 100%;
    background-color: rgba($gray900, 0.5);
}

.player {
    //Player Header
    &__header {
        width: 100%;
        height: 30vh;
        padding: 20px;
        background: linear-gradient(to bottom, $green, darken($green, 30%));
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include breakpoint-up(medium) {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__thumbnail {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;

        @include breakpoint-up(medium) {
            width: 230px;
            height: 230px;
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;

        @include breakpoint-up(medium) {
            align-items: flex-start;
            margin-left: 25px;
        }
    }

    &__playlist-name {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        display: none;

        @include breakpoint-up(medium) {
            display: inline;
        }
    }

    &__name {
        font-size: 25px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 15px;

        @include breakpoint-up(medium) {
            font-size: 45px;
        }

        @include breakpoint-up(large) {
            font-size: 65px;
            margin-top: -5px;
        }
    }

    &__artist {
        font-size: 14px;
        color: $gray400;
        margin-bottom: 5px;
        display: none;

        @include breakpoint-up(medium) {
            display: inline;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__count-wrapper {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: $gray400;
    }

    //Player Body
    &__body {
        height: 58vh;
        background: linear-gradient(
            to bottom,
            darken($green, 30%) 20%,
            $gray900 60%
        );

        //playlist
    }

    //Player Footer
    &__footer {
        width: 100%;
        height: 12vh;
        background-color: $gray900;
        border-top: 1px solid rgba($gray600, 0.2);
        box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.2);

        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
        }

        .btn-play {
            position: relative;
            outline: none;
            border: none;
            cursor: pointer;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            font-size: 14px;
            margin-bottom: 10px;

            .fa {
                position: absolute;
                top: 50%;
                left: 50%;
            }

            .fa-play {
                transform: translate(-35%, -45%);
            }

            .fa-pause {
                transform: translate(-44%, -45%);
            }
        }

        .track {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            @include breakpoint-up(medium) {
                width: 60%;
            }

            &__current-time,
            &__full-time {
                color: $gray400;
                font-size: 12px;
            }

            &__bar {
                width: 100%;
                height: 4px;
                border-radius: 30px;
                background-color: $gray700;
            }

            &__bar-fill {
                width: 0%;
                height: 100%;
                border-radius: 30px;
                background-color: $gray50;
            }
        }
    }
}

.playlist {
    text-decoration: none;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: rgba($gray900, 0);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray600;
        border-radius: 10px;
    }

    @include breakpoint-up(xlarge) {
        padding-right: 20px;
        padding-left: 0;
    }

    &__song {
        width: 100%;
        display: flex;
        align-items: flex-start;
        border-radius: 5px;
        transition: all 0.3s ease;
        padding: 5px 20px;

        &:not(:last-child) {
            margin-bottom: 6px;
        }

        &:hover {
            background-color: rgba($gray50, 0.1);
        }
    }

    &__song-active {
        transition: all 0.3s ease;
        background-color: rgba($gray50, 0.2);
    }

    .play-pause {
        .fa {
            font-size: 12px;

            @include breakpoint-up(medium) {
                font-size: 14px;
            }
        }

        .fa-play {
            color: $gray200;
        }

        .fa-pause {
            color: $gray400;
        }
    }

    &__song-details {
        font-weight: 400;
        margin-left: 20px;
    }

    &__song-name {
        font-size: 14px;

        @include breakpoint-up(medium) {
            font-size: 16px;
        }
    }

    &__song-artist {
        font-size: 12px;
        display: block;
        color: $gray400;
        margin-top: -2px;

        @include breakpoint-up(medium) {
            font-size: 14px;
        }
    }

    &__song-duration {
        font-size: 12px;
        color: $gray400;
        padding-top: 4px;
        margin-left: auto;

        @include breakpoint-up(medium) {
            font-size: 14px;
        }
    }
}
